.proList {
    .container {
        .row {
            .proOne {
                margin-bottom: 30px;
                padding: 0 40px;
                box-shadow: 0 0 20px #e4e4e4;
                padding-bottom: 50px;
                border-radius: 5px;
                margin: 0px 20px;
                .top-img {
                    padding: 30px;
                    padding-bottom: 0;
                    height: 30vh;
                    img {
                        vertical-align: middle;
                    }

                    margin-bottom: 15px;
                }
                .bottom-text{
                    p{
                        font-size: 17px;
                    }
                }

                .bottom-btn {
                    button{
                        font-family: 'Poppins', sans-serif;
                        display: inline-block;
                        background-color: #F28123;
                        color: #fff;
                        padding: 10px 20px;
                        border-radius: 50px;
                        border: none;
                        font-weight: 500;
                        transition: .3s ease-in-out;
                        &:hover{
                            background-color: #051922;
                            color: #F28123;
                        }
                    }
                }
            }
        }
    }
}